html {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #374763;
  height: 40%;
  width: 100%;
  text-align: center;
}

.middle {
  background-color: white;
  height: 40%;
  width: 100%;
}

.footer {
  background-color: #374763;
  height: 20%;
  width: 100%;
}

h1 {
  color: white;
  margin-left: 15%;
  margin-right: 60%;
  padding-top: 15px;
  text-align: left;
}

.datevenue {
  margin-left: 55%;
  margin-top: -90px;
  color: #4a8d75;
}

.headernav {
  margin-left: 38%;
  margin-top: -10px;
  display: inline-block;
}

.headernav li {
  display: inline;
  margin-right: 15px;
}

.headernav a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

#toggle {
  display: none;
}

h2 {
  text-align: center;
  color: #4a8d75;
}

.whoarewe {
  color: white;
  text-align: center;
  line-height: 1.75;
}

button {
  background-color: #374763;
  border: white 1px solid;
  padding: 15px 20px;
  text-align: center;
  color: white;
}

.middle {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: center;
  margin-left: 35px;
}

h4 {
  color: #4a8d75;
}

.article1 {
  width: 23%;
}

.article2 {
  width: 23%;
}

.article3 {
  width: 23%;
}

img {
  height: 130px;
  width: 200px;
}

.footernav {
  margin-left: 60%;
  margin-top: 20px;
  display: inline-block;
}

.footernavli {
  display: inline;
}

.footernavli a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding: 10px;
}

.copyright {
  color: #4a8d75;
  font-size: 10px;
  margin-left: 18%;
  margin-top: -25px;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-top: -32px;
    text-align: center;
    font-size: 30px;
  }

  .datevenue {
    display: inline;
    text-align: center;
    font-size: 11px;
    margin-left: -15px;
  }

  .label {
    display: block;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 300px;
    font-size: 25px;
  }

  #toggle:checked + .headernav {
    display: block;
  }

  .headernav a {
    display: block;
    padding: 5px;
    border: white 1px solid;
  }

  .headernav {
    display: none;
  }

  #id {
    display: block;
  }

  button {
    margin-bottom: 10px;
  }

  .middle {
    display: flex;
    flex-direction: column;
  }

  .article1 {
    text-align: center;
    width: 80%;
  }
  .article2 {
    width: 80%;
    text-align: center;
  }
  .article3 {
    width: 80%;
    text-align: center;
  }

  .footernav {
    display: inline;
  }

  .footernav ul {
    margin-left: 90px;
    font-size: 8px;
    margin-bottom: 12px;
  }

  .footernav a {
    padding: 0px 1px 0px 1px;
  }

  .copyright {
    margin-left: 10px;
  }
}
